
.footer {
  background: linear-gradient(135deg, #14213d, #00c6ff); 
  padding: 60px 30px;
  color: #444;
  font-family: 'Roboto', sans-serif;
  border-top: 3px solid #14213d;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-main {
  width: 48%;
  margin-bottom: 20px;
}

.footer-about,
.footer-links {
  margin-bottom: 20px;
}

.footer-about p,
.footer-links li {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
}


.footer-about h4,
.footer-links h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
}

.contact-link-footer, .email-link-footer{
  text-decoration: none;
  color: black;
}

.email-link-footer:hover{
  text-decoration: underline;
}

.contact-link-footer:hover{
  text-decoration: underline;
}

.footer-links li {
  font-size: 1rem;
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #fca311;
  text-decoration: underline;
}

.footer-contact {
  width: 48%;
  margin-bottom: 20px;
}

.footer-contact h4,
.footer-address h4,
.footer-hours h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-contact p,
.footer-address p,
.footer-hours li {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-contact svg,
.footer-address svg,
.footer-hours svg {
  margin-right: 8px;
  color: #fca311;
  font-size: 1.4rem;
}

.footer-hours ul {
  list-style: none;
  padding-left: 0;
}

.footer-hours li {
  font-size: 1rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}


.footer-bottom {
  text-align: center;
  width: 100%;
  font-size: 0.85rem;
  color: #fca311;
  margin-top: 40px;
  padding-top: 18px;
  border-top: 1px solid #ddd;
}

.footer-bottom p {
  margin: 0;
}

.footer-contact svg:hover,
.footer-address svg:hover,
.footer-hours svg:hover {
  color: #ffffff;
  transform: translateY(-1px); 
  transition: all 0.2s ease;
}


@media (max-width: 768px) {
  .footer-main,
  .footer-contact {
    width: 100%;
  }

  .footer-about h4,
  .footer-links h4,
  .footer-contact h4 {
    font-size: 1.3rem;
  }

  .footer-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-contact p {
    display: flex;
    align-items: center;
  }

  .footer-contact a {
    margin-left: 8px;
  }
}
